<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Virtual Queue</title>
        <link rel="stylesheet" href="bootstrap/bootstrap.css" />
    </head>
    <body>
        <h1>ECE 477 Virtual Queue Group 4</h1>
        <br />
        <p style="display: inline">Name:</p>
        <input type="text" size="50px" id="txtName" />
        <br />
        <p style="display: inline">Email:</p>
        <input type="text" size="50px" id="txtEmail" />
        <br />
        <p style="display: inline"># people in party:</p>
        <input type="number" size="50px" id="txtNumPeople" />
        <br /><br />
        <input type="button" value="Join Queue" disabled id="btnJoinQueue" />
    </body>
    <script src="/helper/customerHelper.js"></script>
    <script src="potenID.js"></script>
    <script src="index.js"></script>
</html>
